Projects/Timbergrove/Petro-link/timbergrove_petrolink-tree_cep_engine_hg-700cbb5333f4/Engine/src/main/resources/xsd/config/rmqMgmtServices.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified">	
	<xs:include schemaLocation="baseService.xsd" />    
	<xs:include schemaLocation="rabbitMQSettings.xsd" />	
	
	<xs:complexType name="RMQ_ManagementService">
		<xs:sequence>
			<xs:element type="fileSystemPath" name="Path" />
			<xs:element type="xs:string" name="DefaultNamespace" minOccurs="0" maxOccurs="1"/>
			<xs:element type="rmq_settings" name="RabbitMQRestfulServices" />
		</xs:sequence>
		<xs:attributeGroup ref="attgrp_commonServiceAttribute"/>
	</xs:complexType>
</xs:schema>