Projects/Timbergrove/Petro-link/timbergrove_petrolink-tree_cep_engine_hg-700cbb5333f4/Engine/src/main/resources/xsd/config/schedulerService.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified">		
	<xs:include schemaLocation="baseService.xsd" /> 
	<xs:complexType name="scheduler_service">
		<xs:choice minOccurs="0">
			<xs:element type="xs:string" name="Properties"/>
			<xs:element type="xs:string" name="PropertiesFile"/>
		</xs:choice>
		<xs:attributeGroup ref="attgrp_commonServiceAttribute"/>
	</xs:complexType>
</xs:schema>